@model Project.Models.Database.Systemuser
@{
    ViewBag.Title = "Login";

}

<h2>Login</h2>
<form action="/Store/Login" method="post">
    <input type="text" name="U_name" class="form-control" placeholder="Name" /><br /><br />

    <input type="text" name="U_password" class="form-control" placeholder="Password" /><br /><br />

    <input type="text" name="Usertype" class="form-control" placeholder="Type" /><br /><br />

    <input type="submit" value="Log in" />

</form>

